@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background: #ffffff;
}

nav .wrapper {
  position: relative;
  max-width: 81.25rem;
  padding: 0 1.875rem;
  height: 4.375rem;
  line-height: 4.375rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo a{
  color: #000000;
  font-size: 1.875rem;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #323637;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.563rem 0.938rem;
  border-radius: 0.313rem;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #e3e3e3;
  color: #1F92BB;
}
.nav-links .mobile-item{
  display: none;
}


.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 1.875rem;
  top: 100%;
  opacity: 0;
  visibility: hidden;
}

.mega-box .content{
  background: #ffffff;
  padding: 1.563rem 1.25rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 0.375rem 0.625rem rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 1.875rem);
  line-height: 2.813rem;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #000000;
  font-size: 1.25rem;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -2.5rem;
  border-left: 1px solid #a6a7a7;
}
.row .mega-links li{
  padding: 0 1.25rem;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 1.25rem;
  color: #000000;
  font-size: 1.063rem;
  display: block;
}
.row .mega-links li a:hover{
  color: #000000;
}
.wrapper .btn{
  color: #0d0d0d;
  font-size: 1.25rem;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 1.875rem;
  top: 0.625rem;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 21.875rem;
    top: 0;
    left: -100%;
    background: #ffffff;
    display: block;
    padding: 3.125rem 0.625rem;
    line-height: 3.125rem;
    overflow-y: auto;
    box-shadow: 0px 0.938rem 0.938rem rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }

  ::-webkit-scrollbar {
    width: 0.625rem;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 0.938rem 0.625rem;
  }
  .nav-links li a{
    padding: 0 1.25rem;
    display: block;
    font-size: 1.25rem;
  }


  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #000000;
    font-size: 1.25rem;
    font-weight: 500;
    padding-left: 1.25rem;
    cursor: pointer;
    border-radius: 0.313rem;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #ffffff;
  }

  .mega-box{
    position: static;
    top: 4.063rem;
    opacity: 1;
    visibility: visible;
    padding: 0 1.25rem;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 1.25rem 1.25rem 0 1.25rem;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 0.938rem;
    border-top: 1px solid #000000;
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 0.938rem;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 1.188rem;
  }
}
nav input{
  display: none;
}
/* ------------------------------------ */
.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 1.875rem;
}
.body-text div{
  font-size: 2.813rem;
  font-weight: 600;
}
body {
	display: flex;
	background: #ffffff;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.content {
	position: relative;
}

.content h2 {
	color: #000000;
	font-size: 2em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #1F92BB;
}

.content h2:nth-child(2) {
	color: #409CD1;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
/* ------------------------------------ */
.advbutton{
  position: relative;
  background-color: #9BDEF0;
  border-radius: 4em;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding: 0.8em 1.8em;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.advbutton:hover {
  transition-duration: 0.2s;
  background-color: #1F92BB !important;
  color: rgb(255, 255, 255) !important;
}

.advbutton:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 0.625rem 40px #4070d1;
}

.advbutton:active:after {
  box-shadow: 0 0 0 0 #4070d1;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.advbutton:active {
  top: 1px;
}
/* ------------------------------------ */

.form input{
  width:100%;
  padding:0.625rem;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom: 0.125rem solid #bebed2
}
.form input:focus{
  border-bottom: 0.125rem solid #78788c
}
.form p:before{
  content:attr(type);
  display:block;
  margin:1.75rem 0 0;
  font-size:0.875rem;
  color:#5a5a5a
}
.form button{
  display: block;
  padding:0.5rem 0.75rem;
  margin:1.625rem auto 0;
  font-family:'Montserrat',sans-serif;
  border:2px solid #1F92BB;
  background:0;
  color:#1F92BB;
  cursor:pointer;
  transition:all .3s;
}
.form button:hover{
  background:#1F92BB;
  color:#fff
}
.form div{
  position:absolute;
  bottom: -2.5rem;
  right:-2.5rem;
  background:#1F92BB;
  color:#fff;
  width:20rem;
  padding:1rem 0.25rem 1rem 0;
  border-radius:0.375rem;
  font-size:0.813rem;
  box-shadow:0.625rem 0.625rem 0.625rem -0.875rem #000
}
.form span{
  margin:0 0.313rem 0 0.938rem
}

.contact-popup {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}


.contact-popup-content {
  background-color: #9BDEF0;
  margin: 7% auto;
  padding: 0.938rem;
  border: 1px solid #888;
  width: 80%;
  height: 28.125rem;
  max-width: 25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 2.5 -0.625rem #000;
}

.contact-popup-content .form {
  width: 100%;
  height: auto;
  background: #e6e6e6;
  border-radius: 0.5rem;
  box-shadow: none;
  margin: 0 auto;
  padding: 1.25rem 1.875rem;
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.contact-popup-content h2 {
  margin: 0.625rem 0;
  padding-bottom: 0.625rem;
  width: 11.25rem;
  color: #1F92BB;
  border-bottom: 3px solid #78788c;
}

/* ------------------------------------ */

.profile-logo {
  display: flex;
  right: 1.25rem;
  position: fixed;
  z-index: -1;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.profile-picture-container {
  display: flex;
  right: 1.25rem;
  position: fixed;
}

#profile-picture {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

#profile-picture-input {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.dropdown-menu {
  display: none;
  position: fixed;
  top: 4.375rem;
  right: 0.625rem;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
  border-radius: 0.25rem;
  z-index: 1;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #e3e3e3;
  color: #1F92BB;
  transition: all 0.3s ease;
}

/* ------------------------------------ */

.head-text .h1-1{
  position: absolute;
  font-size: 180%;
  top: 15%;
  left: 12.5%;
  color: #ffffff;

}

.head-text .p-1{
  position: absolute;
  font-size: 100%;
  top: 21%;
  right: 12.5%;
  left: 12.5%;
  color: #ffffff;

}

.head-text .divider {
  position: absolute;
  top: 35%;
  left: 12.5%;
  right: 12.5%;
  border: 0;
  height: 0.063rem;
  background: #1F92BB;
  opacity: 50%;
}

/* ------------------------------------ */

.travel-card {
  background: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  margin-top: 20%;
  margin-left: 10%;
  width: 80%;
  max-width: 62.5rem;
  transition: flex-direction 0.3s ease;
  overflow: hidden;
  position: absolute;
}

.travel-card:hover {
  transform: scale(1.05);
  transition: 0.15s;
}

.card-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: auto;
  height: 200px;
  
}

.map-container iframe {
  width: 100%;
  height: 15rem;
  border: none;
  margin-top: 0.625rem;
}

.card-right {
  flex: 2;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  display: flex;
  flex-direction: column;
}

.travel-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.discount-badge {
  background-color: #ff6347;
  color: white;
  font-weight: bold;
  padding: 0.313rem;
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  border-radius: 0.313rem;
  z-index: 2;
}

.badge {
  background-color: #ddd;
  color: #333;
  border-radius: 0.188rem;
  padding: 0.313rem 0.625rem;
  font-size: 0.75rem;
}

.name-h2 {
  margin: 0.625rem 0;
  font-size: 1.5rem;
  color: #333;
}

.rating {
  margin: 0.625rem 0;
  font-size: 1.125rem;
  color: #f39c12;
}

.details {
  list-style: none;
  padding: 0;
  margin: 0 0 7%;
}

.details li {
  margin: 0.313rem 0;
  font-size: 0.875rem;
  color: #666;
}

.details li strong {
  color: #333;
}

.pricing {
  margin: 0.938rem 0;
  font-size: 0.875rem;
  color: #666;
}

.pricing .duration,
.pricing .price,
.pricing .discount {
  display: block;
}

.pricing .price {
  font-size: 1.125rem;
  color: #333;
}

.pricing .old-price {
  text-decoration: line-through;
  color: #999;
}

.pricing .new-price{
  color: #378367;
}

.card-buttons {
  display: flex;
  justify-content: flex-start;
}

.view-tour-button {
  position: relative;
  background-color: #ffffff;
  color: #1F92BB;
  border: none;
  padding: 0.625rem 6.25rem;
  border-radius: 0.313rem;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid #1F92BB;
  left: 55%;
}

.view-tour-button:hover {
  background-color: #1F92BB;
  color: #ffffff;
}

.wishlist-button {
  position: absolute;
  left: 10px;
  background-color: #ffffff;
  color: #1F92BB;
  border: 1px solid #1F92BB;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 45%;
  top: 2%;
}

.wishlist-button:hover {
  background-color: #1F92BB;
  color: #ffffff;
}

/* ------------------------------------ */


.vertical-line {
  position: absolute;
  border-left: 1px solid #1F92BB;
  height: 62.5rem;
  top: 43%;
  left: 24%;
  opacity: 60%;
}
/* ------------------------------------ */

.img-head{
  position: absolute;
  top: 5%;
  height: 30%;
  width: 100%;
  left: 0%;
  right: 0%;
  opacity: 80%;
  filter: brightness(0.4);
}

/* ------------------------------------ */

.filter-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  position: absolute;
  left: 8%;
  top: 43%;
}

.filter-container h1 {
  margin-bottom: 20px;
}

.filter-item {
  margin-bottom: 15px;
}

.filter-item label {
  display: block;
  margin-bottom: 5px;
}

#sort-select, #length-range, #departure-date {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-container label {
  margin-bottom: 5px;
}
 