@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background: #ffffff;
}

nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo a{
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #323637;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #e3e3e3;
  color: #1F92BB;
}
.nav-links .mobile-item{
  display: none;
}


.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 100%; /* Adjusted this line */
  opacity: 1;
  visibility: visible;
}

.mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 100%; /* Adjusted this line */
  opacity: 0;
  visibility: hidden;
}

.mega-box .content{
  background: #ffffff;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid #a6a7a7;
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #000000;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #000000;
}
.wrapper .btn{
  color: #0d0d0d;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

nav input{
  display: none;
}
/* ------------------------------------ */
.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}
body {
	display: flex;
	background: #ffffff;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.content {
	position: relative;
}

.content h2 {
	color: #000000;
	font-size: 2em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #1F92BB;
}

.content h2:nth-child(2) {
	color: #409CD1;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
/* ------------------------------------ */
.advbutton{
  position: relative;
  background-color: #9BDEF0;
  border-radius: 4em;
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding: 0.8em 1.8em;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.advbutton:hover {
  transition-duration: 0.2s;
  background-color: #1F92BB !important;
  color: rgb(255, 255, 255) !important;
}

.advbutton:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px #4070d1;
}

.advbutton:active:after {
  box-shadow: 0 0 0 0 #4070d1;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.advbutton:active {
  top: 1px;
}
/* ------------------------------------ */

.form input{
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #bebed2
}
.form input:focus{
  border-bottom:2px solid #78788c
}
.form p:before{
  content:attr(type);
  display:block;
  margin:28px 0 0;
  font-size:14px;
  color:#5a5a5a
}
.form button{
  display: block;
  padding:8px 12px;
  margin:26px auto 0;
  font-family:'Montserrat',sans-serif;
  border:2px solid #1F92BB;
  background:0;
  color:#1F92BB;
  cursor:pointer;
  transition:all .3s;
}
.form button:hover{
  background:#1F92BB;
  color:#fff
}
.form div{
  position:absolute;
  bottom: -40px;
  right:-40px;
  background:#1F92BB;
  color:#fff;
  width:320px;
  padding:16px 4px 16px 0;
  border-radius:6px;
  font-size:13px;
  box-shadow:10px 10px 40px -14px #000
}
.form span{
  margin:0 5px 0 15px
}

.contact-popup {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}


.contact-popup-content {
  background-color: #9BDEF0;
  margin: 7% auto;
  padding: 15px;
  border: 1px solid #888;
  width: 80%;
  height: 450px;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
}

.contact-popup-content .form {
  width: 100%;
  height: auto;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: none;
  margin: 0 auto;
  padding: 20px 30px;
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.contact-popup-content h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #1F92BB;
  border-bottom: 3px solid #78788c;
}

/* ------------------------------------ */

.profile-logo {
  display: flex;
  right: 20px;
  position: fixed;
  z-index: -1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-picture-container {
  display: flex;
  right: 20px;
  position: fixed;
}

#profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

#profile-picture-input {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.dropdown-menu {
  display: none;
  position: fixed;
  top: 70px;
  right: 10px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index: 1;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #e3e3e3;
  color: #1F92BB;
  transition: all 0.3s ease;
}
/* ------------------------------------ */

.slider{
  width: 100%;
  height: 800px;
  top: 0;
  margin: auto;
  position: absolute;
  overflow: hidden;
}
.slider .list{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;

}
.slider .list img{
  width: 1920px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}
.slider .buttons{
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider .buttons button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

.slider .buttons button:hover {
  background-color: #1F92BB;
  transform: scale(1.1);
  transition: 0.15s;
}


/* ------------------------------------ */


.container {
  max-width: 1450px;
  width: 95%;
  margin-top: 43%;
}

.slider-wrapper {
  position: relative;
  margin: 0 auto;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.slider-wrapper .image-item img {
  border: 6px solid #e3e3e3;
  border-radius: 15px;
  width: 325px;
  height: 200px;
  object-fit: cover;
}

.slider-wrapper .image-item img:hover {
  border: 6px solid #1F92BB;
}

.slider-wrapper .image-item .image-caption {
  margin-top: 5px;
  font-size: 17px;
  color: #1c1c1c;
  text-align: center;
}

.slider-wrapper .image-item .image-caption:hover {
  color: #1F92BB;
}

.slider-wrapper .image-item a {
  text-decoration: none;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
  background: #1F92BB;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}


/* ------------------------------------ */
.text-slide {
  z-index: 1;
  font-size: 90px;
  left: 21%;
  position: absolute;
  top: 35%;
  color: rgb(255, 255, 255);

}

/* ------------------------------------ */

.travel-card {
  position: absolute;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  margin-top: 105%;
  left: 10%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.travel-card:hover {
  transform: scale(1.1);
  transition: 0.15s;
}

.travel-card2 {
  position: absolute;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  margin-top: 105%;
  left: 28%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.travel-card2:hover {
  transform: scale(1.1);
  transition: 0.15s;
}

.travel-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.discount-badge {
  background-color: #ff6347;
  color: white;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  z-index: 1;
}

.travel-image {
  width: 100%;
  height: auto;
}

.travel-details {
  padding: 15px;
}

.travel-name {
  font-size: 18px;
  margin: 0 0;
}

.duration, .rating, .price {
  margin: 5px 0;
}

.rating .star {
  color: #D98A28;
}

.original-price {
  text-decoration: line-through;
  color: #888;
}

.discounted-price {
  color: #ff6347;
  font-weight: bold;
}

.wishlist-button {
  position: absolute;
  right: 10px;
  background-color: #ffffff;
  color: #1F92BB;
  border: 1px solid #1F92BB;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 45%;
  top: 2%;
}

.wishlist-button:hover {
  background-color: #1F92BB;
  color: #ffffff;
}
 
/* ------------------------------------ */


.content2 .h4-1{
  position: absolute;
  font-size: 300%;
  top: 130%;
  left: 10%;
  color: #323637;
}
.content2 .h4-2{
  position: absolute;
  font-size: 200%;
  top: 145%;
  left: 10%;
  color: #323637;
}