@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background: #ffffff;
}

nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo a{
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #323637;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #e3e3e3;
  color: #1F92BB;
}
.nav-links .mobile-item{
  display: none;
}


.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 100%; /* Adjusted this line */
  opacity: 1;
  visibility: visible;
}

.mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 100%; /* Adjusted this line */
  opacity: 0;
  visibility: hidden;
}

.mega-box .content{
  background: #ffffff;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid #a6a7a7;
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #000000;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #000000;
}
.wrapper .btn{
  color: #0d0d0d;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

nav input{
  display: none;
}
/* ------------------------------------ */
.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}
body {
	display: flex;
	background: #ffffff;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.content {
	position: relative;
}

.content h2 {
	color: #000000;
	font-size: 2em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #1F92BB;
}

.content h2:nth-child(2) {
	color: #409CD1;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
/* ------------------------------------ */
.advbutton{
  position: relative;
  background-color: #9BDEF0;
  border-radius: 4em;
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding: 0.8em 1.8em;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.advbutton:hover {
  transition-duration: 0.2s;
  background-color: #1F92BB !important;
  color: rgb(255, 255, 255) !important;
}

.advbutton:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px #4070d1;
}

.advbutton:active:after {
  box-shadow: 0 0 0 0 #4070d1;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.advbutton:active {
  top: 1px;
}
/* ------------------------------------ */

.form input{
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #bebed2
}
.form input:focus{
  border-bottom:2px solid #78788c
}
.form p:before{
  content:attr(type);
  display:block;
  margin:28px 0 0;
  font-size:14px;
  color:#5a5a5a
}
.form button{
  display: block;
  padding:8px 12px;
  margin:26px auto 0;
  font-family:'Montserrat',sans-serif;
  border:2px solid #1F92BB;
  background:0;
  color:#1F92BB;
  cursor:pointer;
  transition:all .3s;
}
.form button:hover{
  background:#1F92BB;
  color:#fff
}
.form div{
  position:absolute;
  bottom: -40px;
  right:-40px;
  background:#1F92BB;
  color:#fff;
  width:320px;
  padding:16px 4px 16px 0;
  border-radius:6px;
  font-size:13px;
  box-shadow:10px 10px 40px -14px #000
}
.form span{
  margin:0 5px 0 15px
}

.contact-popup {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}


.contact-popup-content {
  background-color: #9BDEF0;
  margin: 7% auto;
  padding: 15px;
  border: 1px solid #888;
  width: 80%;
  height: 450px;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
}

.contact-popup-content .form {
  width: 100%;
  height: auto;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: none;
  margin: 0 auto;
  padding: 20px 30px;
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.contact-popup-content h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #1F92BB;
  border-bottom: 3px solid #78788c;
}

/* ------------------------------------ */

.profile-logo {
  display: flex;
  right: 20px;
  position: fixed;
  z-index: -1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-picture-container {
  display: flex;
  right: 20px;
  position: fixed;
}

#profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

#profile-picture-input {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.dropdown-menu {
  display: none;
  position: fixed;
  top: 70px;
  right: 10px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index: 1;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #e3e3e3;
  color: #1F92BB;
  transition: all 0.3s ease;
}
/* ------------------------------------ */

.card img{
  width: 50px;
  height: auto;
  right: 100px;
  top: 11px;
  position: fixed;
  z-index: -1;
  cursor: pointer;
  opacity: 80%;
}
.card img:hover{
  transform: scale(1.1);
  transition: 0.15s;
}

/* ------------------------------------ */
.wishlist-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: center; /* Center the cards horizontally */
  gap: 30px;
  margin-top: 10%; /* Add space between cards */
}

.wishlist-card {
  width: 300px; /* Adjust the width of each card */
  margin-bottom: 20px; /* Add space between rows */
}

.wishlist-card img {
  width: 100%; /* Make the image fill the card width */
  height: auto; /* Maintain aspect ratio */
}


.book-now-btn {
  position: absolute;
  font-size: 20px;
  margin-bottom: 20px;
  top: 15%; 
  border-radius: 10px;
  width: 150px;/* Adjust as needed */
}

#wishlist-total-price {
  margin-top: 10px; /* Adjust as needed */
  font-size: 18px; /* Adjust as needed */
}

.book-now-btn:hover {
  background-color: #1F92BB;
}





/* ------------------------------------ */

.footer {
  position: absolute;
  bottom: -250%;
  left: 0;
  width: 100%;
  background: #e6e6e6;
  border-radius: 6px;
}

.footer .footer-row {
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
}

.footer-row .footer-col h4 {
  color: #323637;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #323637;
}

.footer-col .links li a:hover {
  color: #323637;
}

.footer-col p {
  margin: 20px 0;
  color: #323637;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #1F92BB;
  caret-color: #323637;
  color: #323637;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #323637;
}

.footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #1F92BB;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #505557;
}

.footer-col .icons i:hover {
  color: #1F92BB;
}

/* ------------------------------------ */


